body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lato, sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/189/471/non_2x/vintage-fade-tone-of-ocean-sea-waves-at-the-beach-during-summer-free-photo.jpg')
}

h1 {
    font-weight: 400;
}

input {
    font-family: Lato, sans-serif;
    font-weight: 100;
}

button {
    font-family: Lato, sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 1em;
    margin-top: 1em;
}

ul {
    margin-right: 2em;
}

li {
    list-style-type: none;
    text-align: left;
    font-weight: 300;
}

#information {
    display: none;
    flex-direction: column;
}

img {
    height: 15em;
}